.container {
max-width: 960px;
margin: auto;
font-family: 'Arial', cursive;
color: navy;

}

header nav ul {
position: relative;
left: 600px;
vertical-align: top;
display: inline-block;
}

nav li {
display: inline-block;
margin: 0 1em;
}